/*Importing all fonts*/
@font-face {
    font-family: pretty-curly ;
    src: url(./fonts/Edu_SA_Beginner/EduSABeginner-VariableFont_wght.ttf);
}

@font-face {
    font-family: subtitle-text ;
    src: url(./fonts/Francois_One/FrancoisOne-Regular.ttf);
}

@font-face {
    font-family: normal-font ;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

/*Defining colors*/
:root {
    /* CSS HEX */
    --english-violet: #58355eff;
    --vermilion: #e03616ff;
    --blanched-almond: #ffecd1ff;
    --carolina-blue: #fff689ff;
    --tea-green: #cfffb0ff;
    --carolina-blue: #5998c5ff;
}





ul{
    list-style: none;
}

li {
    color : var(--tea-green);
}

ul li::before{
    content: "\2605";
    color: var(--tea-green);
    display: inline-block;
    width: 20px;
    margin-left: -20px;
}

p{
    color: blanchedalmond;
    font-family: normal-font, sans-serif;
}

#title{
    background-color: var(--carolina-blue) ;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 25px;
}

#title h1{
    color: var(--blanched-almond);
    font-family: pretty-curly, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: subtitle-text, sans-serif;
    color: var(--blanched-almond);
    text-decoration: underline;
    /*No idea how this works*/
    text-shadow: -2px -2px 0 var(--vermilion), 2px -2px 0 var(--vermilion), -2px 2px 0 var(--vermilion), 2px 2px 0 var(--vermilion);
}



a {
    color: var(--vermilion);
    font-family: normal-font, 'Times New Roman', Times, serif;
    text-decoration: none;
}

a:hover{
    color: var(--blanched-almond);
}



hr {
    border: 2px solid var(--carolina-blue);
}

body {
    background-color: var(--english-violet);
}

footer{
    color: white;
    text-align: left;
    font-family: normal-font, sans-serif;
}

#maingif {
    width: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 20px;
}