/*Importing all fonts*/
@font-face {
    font-family: pretty-curly ;
    src: url(./fonts/Edu_SA_Beginner/EduSABeginner-VariableFont_wght.ttf);
}

@font-face {
    font-family: subtitle-text ;
    src: url(./fonts/Francois_One/FrancoisOne-Regular.ttf);
}

@font-face {
    font-family: normal-font ;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

/*Defining colors*/
:root {
    /* CSS HEX */
    --english-violet: rgb(31, 122, 79);
    --vermilion: rgb(10, 185, 33);
    --blanched-almond: #ffecd1ff;
    --canary: rgb(255, 241, 85);
    --tea-green: #cfffb0ff;
    --carolina-blue: rgb(39, 182, 75);
}

ul{
    list-style: none;
}

li {
    color : var(--blanched-almond);
    font-size: 20px;
}

ul li::before{
    content: "\2605";
    color: var(--canary);
    display: inline-block;
    width: 50px;
    margin-left: -20px;
}


p{
    color: blanchedalmond;
    font-family: normal-font, sans-serif;
}

#title{
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: subtitle-text, sans-serif;
    color: var(--blanched-almond);
    text-decoration: underline;
    /*No idea how this works*/
    text-shadow: -2px -2px 0 var(--vermilion), 2px -2px 0 var(--vermilion), -2px 2px 0 var(--vermilion), 2px 2px 0 var(--vermilion);
}

#title h1{
    color: var(--blanched-almond);
    font-family: pretty-curly, sans-serif;
    font-size: 40px;
    text-shadow: none;
    background-color: var(--carolina-blue);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
}


a {
    color: var(--tea-green);
    font-family: normal-font, 'Times New Roman', Times, serif;
    text-decoration: none;
}

a:hover{
    color: var(--blanched-almond);
}



hr {
    border: 2px solid var(--carolina-blue);
}

body {
    background-color: var(--english-violet);
}

footer{
    color: white;
    text-align: left;
    font-family: normal-font, sans-serif;
}

#maingif {
    width: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.foodimg {
    width: calc(90%);
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}